/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 19, 2019, 11:42:57 PM
    Author     : Jananath Banuka
*/
table {
    table-layout: fixed;
    word-wrap: break-word;
}
.badge{
    border-radius: 50% !important;
}
