/*distance between upload button and below content*/
@media (max-width: 991px) {
    button.custom-file-control{
        /*border: 1px solid red;*/
        margin-bottom: 100px;
    }
}

img{
    object-fit: cover;
}

.table{
    border-collapse:separate; 
    /*border-spacing:5em;*/
}


