/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 6, 2019, 11:20:39 AM
    Author     : Jananath Banuka
*/

.hello{
    font-size: 20px;
    border: 1px solid red;
}

